*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  @include respond(labtop-1) {
    font-size: 60%;
  }

  @include respond(phone-3) {
    font-size: 62.5%;
  }

  @include respond(phone-4) {
    font-size: 59%;
  }

  @include respond(phone-5) {
    font-size: 55%;
  }

  @include respond(phone-6) {
    font-size: 48%;
  }
}

body {
  box-sizing: border-box;
  position: relative;
  overflow-y: scroll;
}

::selection {
  background-color: $color-tertiary;
  color: $color-white;
}

.app__container {
  background-color: $color-grey-light-2;
  margin: 7.2rem 0 0 7.8rem;

  padding: 3.4rem 4rem 0;
  min-height: calc(100vh - 7.2rem);

  @include respond(tap-land-1) {
    overflow: hidden;

    padding: 3.4rem 2rem 4rem;
  }

  &.custom {
    @include respond(phone-3) {
      padding: 14rem 0 4rem;
    }
  }

  &.custom-2 {
    @include respond(phone-2) {
      padding: 10rem 0 4rem;
      background-color: $color-white;
    }
    .form__group {
      margin-bottom: 1.5rem;
    }
  }

  &.custom-3 {
    @include respond(phone-2) {
      padding: 11rem 0 4rem;
    }
  }

  @include respond(tap-land-2) {
    padding-top: 20rem;
    margin: 0;
  }

  &::after {
    content: "";
    position: fixed;
    top: 7.2rem;
    left: 7.8rem;
    width: 3.1rem;
    height: 3.1rem;
    background-color: $color-white;
    z-index: 99;

    @include respond(tap-land-1) {
      left: 5.8rem;
    }

    @include respond(tap-land-2) {
      display: none;
    }
  }

  &::before {
    content: "";
    position: fixed;
    top: 7.2rem;
    left: 7.8rem;
    border-radius: 3.1rem 0 0 0;
    width: 3.1rem;
    height: calc(100vh - 7.2rem);
    background-color: $color-grey-light-2;
    z-index: 100;

    @include respond(tap-land-1) {
      width: 1.1rem;
    }

    @include respond(tap-land-2) {
      display: none;
    }
  }
}

.dashboard__container {
  padding: 2rem 0 0 22rem;
  display: grid;
  align-items: start;
  align-content: start;
  background-color: $color-grey-light-2;
  min-height: 100vh;

  @include respond(tap-land-1) {
    padding: 10rem 0 2rem;
  }
}

ul {
  list-style: none;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}
svg > * {
  pointer-events: none;
}

img {
  image-rendering: -webkit-optimize-contrast;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  margin: 7.2rem 0 0;
  background: $color-white;
}

::-webkit-scrollbar-thumb {
  background: $color-secondary;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: $color-secondary-light;
}
