.carousel {
  grid-column: 1/-1;
  // overflow: hidden;
  display: grid;
  padding-bottom: 2rem;
  grid-template-columns: 1fr min-content;
  visibility: visible;
  &__viewport {
    grid-column: 1 / -1;
  }
  &__slide {
    height: auto;
    padding: 5rem 0 3rem;
    transition: 0.2s;
    opacity: 1;
    transform: scale(1);
    cursor: grabbing;
    align-items: start !important;
  }

  &__slide--visible {
    opacity: 1;
    transform: scale(1);
  }

  &__slide--next {
    .carousel__item {
    }
  }

  &__slide--prev {
    .carousel__item {
    }
  }

  &__slide--active {
    .carousel__item {
    }
  }
  &__prev,
  &__next {
    width: 4rem !important;
    height: 3rem !important;
    grid-row: 2/ 3;
    position: relative !important;
    background-color: $color-secondary !important;
    color: $color-white !important;
    transform: none !important;
    display: flex;
    align-items: center;
    justify-self: center;
    outline: none;
    top: 0 !important;
    transition: opacity 0.3s ease-out;
    &:active {
      opacity: 0.9;
    }
  }
  &__prev {
    justify-self: end;
    border-radius: 20rem 0 0 20rem !important;
  }

  &__next {
    margin-right: 4rem;
    justify-self: end;
    border-radius: 0 20rem 20rem 0 !important;
  }

  &__icon {
    width: 2rem !important;
    height: 2rem !important;
  }

  &__pagination {
    display: flex !important;
    align-items: center !important;
    justify-content: flex-end !important;

    &-button {
      width: 1.5rem !important;
      height: 0.72rem !important;
      background-color: $color-grey-light-2 !important;
      outline: none;
      &--active {
        width: 4.32rem !important;
        background-color: $color-secondary !important;
      }
    }
  }
}

.carousel__prev--in-active,
.carousel__next--in-active {
  opacity: 0.8;
}
