.category {
  display: grid;
  grid-template-columns: min-content minmax(max-content, 35%);
  background-color: $color-white;
  justify-content: space-between;
  height: 14.4rem;
  width: 30rem;
  align-items: center;
  border-radius: 3.5rem;
  position: relative;
  cursor: pointer;
  margin-right: 4rem;
  h3 {
    grid-column: 1 / 2;
    grid-row: 1/ 2;
    padding-left: 3rem;
    text-align: start;
    width: 8rem;
  }

  &__image {
    grid-column: 2/ 3;
    width: 100%;
    min-width: 100%;
    height: inherit;
    object-fit: contain;
    justify-self: end;
    align-self: end;
    z-index: 66;
  }

  &__bubble {
    position: absolute;
    right: -1rem;
    top: 0;
    height: 100%;
  }

  &__bubble--orange {
    filter: drop-shadow(0.7rem 0.7rem 1.5rem rgba($color-orange, 0.6));
  }

  &__bubble--indigo {
    filter: drop-shadow(0.7rem 0.7rem 1.5rem rgba($color-indigo, 0.6));
  }

  &__bubble--yellow {
    filter: drop-shadow(0.7rem 0.7rem 1.5rem rgba($color-yellow, 0.6));
  }

  &__bubble--rose {
    filter: drop-shadow(0.7rem 0.7rem 1.5rem rgba($color-rose, 0.6));
  }

  &__bubble--green {
    filter: drop-shadow(0.7rem 0.7rem 1.5rem rgba($color-green, 0.6));
  }

  &__bubble--violet {
    filter: drop-shadow(0.7rem 0.7rem 1.5rem rgba($color-violet, 0.8));
  }
}
