.empty-content {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: min-content;
  align-items: center;
  align-content: center;
  justify-content: center;
  grid-column-gap: 2rem;
  grid-column: 1/-1;
  height: 30vh;
  img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 15rem;
    object-fit: contain;

    @include respond(phone-2) {
      height: 8rem;
    }
  }

  span {
    grid-column: 2 / 3;
    display: block;
    grid-row: 1 / 2;
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
    width: fit-content;

    @include respond(phone-2) {
      font-size: 1.5rem;
    }
  }

  &--small {
    justify-content: center;
    & > img {
      height: 8rem;
    }
    & > span {
      font-size: 1.5rem;
    }
  }
}
