.mapboxgl {
  &-ctrl-geocoder {
    width: 30rem !important;
    padding: 1rem 2rem !important;
    border-radius: 20rem !important;
    background-color: $color-primary-light !important;
    @include respond(phone-1) {
      padding: 0.5rem 2rem !important;
    }
    &--button {
      top: 50% !important;
      transform: translateY(-50%) !important;
      right: 2rem !important;
      background-color: transparent !important;
    }
    &--icon-search {
      left: 2rem !important;
      fill: $color-white !important;
      top: 50% !important;
      transform: translateY(-50%) !important;
    }

    &--icon-close {
      fill: $color-red !important;
      &:hover {
        fill: $color-red;
      }
    }

    &--input {
      outline: none !important;
      color: $color-white !important;

      &::-webkit-input-placeholder {
        font-size: 1.6rem;
        color: $color-grey-light-4 !important;
      }

      @include respond(phone-1) {
        height: 30rem;
      }
    }
  }

  &-ctrl-top-right {
    margin: 2rem 2rem 0 0;
  }

  &-popup-content {
    border-radius: 0.5rem !important;
    padding: 2rem 3rem !important;
  }
}

.marker,
#marker {
  background-image: url("@/assets/images/pin.png");
  background-size: cover;
  width: 32px;
  height: 40px;
  cursor: pointer;
}
