.post {
  display: grid;
  grid-template-columns: 2rem repeat(2, 1fr) 2rem;
  grid-template-rows: 18rem repeat(3, max-content) 1rem;
  align-content: space-between;
  width: 30rem;
  min-height: 36rem;
  overflow: hidden;
  background-color: $color-white;
  justify-items: start;
  font-size: 1.3rem;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 2rem;
  box-shadow: -0.5rem 0 1rem rgba($color-grey-dark-2, 0.15);

  @include respond(phone-3) {
    width: 87.5vw;
  }

  &__pen {
    display: none;
  }

  &__image {
    grid-column: 1/ -1;
    grid-row: 1 / 2;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  h4 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    color: $color-tertiary;
    padding: 1rem 0;
    text-align: start;
  }

  &__summary {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    text-align: start;
    font-size: 1.45rem;
    color: $color-grey-dark-3;
  }

  &__publisher {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 20;
  }

  &__publisher--img__div {
    width: 4.2rem;
    margin-right: 0.8rem;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      width: 3.8rem;
      height: 3.8rem;
      border-radius: 50%;
      background-color: $color-secondary;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 19;
    }
  }

  h6 {
    font-size: 1.15rem;
    width: max-content;
    text-align: start;
  }

  &__publisher--img {
    width: 100%;
    position: relative;
    z-index: 20;
    border-radius: 50%;
  }

  &__time {
    grid-row: 4 / 5;
    grid-column: 3 / 4;
    display: flex;
    align-items: center;
    justify-self: end;
    position: relative;
    z-index: 20;
  }

  &__icon {
    width: 1.7rem;
    height: 1.7rem;
    fill: $color-secondary-light;
    margin-right: 0.5rem;
  }

  &__time--format {
  }
}

.post--2 {
  width: 64rem;
  height: 44rem;
  position: relative;
  grid-template-columns: 3rem max-content 1fr 3rem;
  grid-template-rows: 1fr min-content min-content max-content 0.5rem;
  grid-row-gap: 1.5rem;
  overflow: hidden;
  border-radius: 1rem;

  @include respond(tap-land-1) {
    width: 62rem;
    height: 43rem;
  }

  @include respond(tap-land-2) {
    width: 60rem;
    height: 40rem;
  }

  @include respond(tap-land-3) {
    width: 53rem;
  }

  @include respond(tab-port) {
    width: 100%;
  }

  &:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-black, 0.6);
  }

  &:hover {
    .post__image {
      transition: all 1s ease-out;
      transform: scale(2) rotate(-45deg);
    }
  }
  .post__image {
    grid-column: 1/ -1;
    grid-row: 1 / -1;
    object-fit: cover;
    transition: all 0.3s ease-out;
    max-height: 100%;
  }
  .tags {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    color: $color-white;
    z-index: 20;
  }

  .tag {
    background-image: linear-gradient(
      45deg,
      $color-secondary,
      $color-secondary-light
    );
    padding: 0.5rem 2rem;
    border-radius: 4rem;
  }

  h4 {
    grid-column: 2 / 4;
    grid-row: 3/ 4;
    color: $color-white;
    font-size: 3.6rem;
    font-weight: 700;
    padding: 0;
    z-index: 20;

    @include respond(tab-port) {
      font-size: 2rem;
    }
  }

  .post__summary {
    display: none;
  }

  .post__data {
    background-color: transparent;
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .post__publisher {
    z-index: 20;
  }

  .post__publisher--img__div {
    position: relative;
    z-index: 20;

    &:after {
      // background-color: $color-secondary;
    }
  }

  .post__publisher--img {
    position: relative;
    z-index: 20;
  }

  h6 {
    color: $color-grey-light-2;
    font-weight: 600;
  }

  .post__time {
    color: $color-grey-light-2;
    font-size: 1.4rem;
    z-index: 20;
  }

  .post__icon {
    fill: $color-grey-light-2;
    width: 1.7rem;
    height: 1.7rem;
    margin-right: 1rem;
  }
}

.post--3 {
  position: relative;
  width: 64rem;
  height: auto;
  background-color: transparent;
  grid-template-columns: 1.5rem [content-start] max-content 1fr [content-end] 1.5rem;
  grid-template-rows: max-content max-content max-content max-content;
  grid-row-gap: 1.5rem;
  overflow: hidden;
  background-color: $color-white;
  box-shadow: 0 0 0.7rem rgba($color-grey-light-4, 0.3);
  border-radius: 1rem 1rem 3rem 3rem;

  @include respond(tap-land-1) {
    width: 62rem;
  }

  @include respond(tap-land-2) {
    width: 60rem;
  }

  @include respond(tap-land-3) {
    width: 53rem;
  }

  @include respond(tab-port) {
    width: 100%;
  }
  .post__pen {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 20;
    padding: 0.7rem;
    border-radius: 50%;
    box-shadow: 0 0 1rem rgba($color-grey-light-2, 0.2);
    background-color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

    &--icon {
      width: 1.5rem;
      height: 1.5rem;
      fill: $color-grey-dark-2;
      &.active {
        fill: $color-secondary;
      }
    }
  }
  .post__image {
    position: relative;
    width: 100%;
    height: auto;
    max-height: calc(100vh - 20rem);
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    object-fit: cover;
    border-radius: 1rem;
    z-index: 10;
  }
  .tags {
    display: none;
  }

  h4 {
    grid-column: content-start / content-end;
    grid-row: 2 / 3;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: $color-primary-light;

    @include respond(tab-port) {
      font-size: 2rem;
      text-align: left;
    }
  }

  .post__summary {
    grid-column: content-start / content-end;
    grid-row: 3 / 4;
    overflow: hidden;
    color: $color-grey-dark-4;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    padding: 0.5rem 0;
    @include respond(tab-port) {
      text-align: left;
    }
  }

  .post__data {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-blue-light;
    padding: 1.5rem 1.5rem;
    width: 100%;
  }

  .post__publisher {
    display: flex;
    align-items: center;
  }

  h6 {
    color: $color-primary-light;
    font-weight: 500;
  }

  .post__time {
    color: $color-primary-light;
    margin-right: 1rem;
  }
}

.post__thumb {
  position: relative;
  display: grid;
  grid-template-columns: 13.6rem 1fr;
  grid-column-gap: 2rem;
  &:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 7.5%;
    width: 0;
    height: 2px;
    background-color: $color-grey-light-2;
    border-radius: 3rem;
  }
  &:not(:last-child):after {
    width: 85%;
  }
  &:not(:last-child) {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }
  img {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 100%;
    height: 9rem;
    max-height: 12rem;
    border-radius: 1.8rem;
    object-fit: cover;
  }

  h4 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: lowercase;
  }

  .post__time {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    color: $color-grey-dark-3;
    justify-self: start;
    font-size: 1.3rem;
  }

  .post__icon {
    width: 1.6rem;
    height: 1.6rem;
    fill: $color-grey-dark-1;
  }
}
