.product {
  position: relative;
  display: grid;
  grid-template-rows: 1.7rem 1fr 3rem max-content 1fr 6.6rem;
  grid-template-columns: 2.2rem 1fr 1fr 2.2rem;
  width: 23rem;
  height: 34rem;
  border-radius: 4rem;
  background-color: $color-white;
  justify-items: start;
  align-items: stretch;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 1rem rgba($color-grey-dark-2, 0.1);
  margin-right: 2rem;

  @include respond(phone-3) {
    width: calc(43vw + 1.25rem);
    height: auto;
    background-color: transparent;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, min-content) 1fr;
    grid-row-gap: 0.5rem;
    border-radius: 0;
    padding: 0 1.25rem 0 0;
    margin-right: 0;
  }

  &.phone__no-shadow {
    @include respond(phone-3) {
      box-shadow: unset;
    }
  }

  &__icon--div {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 2/ 3;
    border-radius: 10px;
    opacity: 0;
    background-color: $color-white;
    transition: all 0.3s ease-out;
    width: 3rem;
    height: 3rem;
    margin: 1rem;
    box-shadow: 0 0 1rem rgba($color-grey-light-4, 0.1);
    z-index: 99;

    &--left {
      grid-column: 2 / 3;
      transform: translateX(-150%);

      @include respond(phone-3) {
        grid-column: 1 / 2;

        left: 0.5rem;
      }
    }

    &--right {
      grid-column: 3/ 4;
      justify-self: end;
      transform: translateX(150%);

      @include respond(phone-3) {
        right: 0.5rem;
      }
    }

    @include respond(phone-3) {
      width: 2.8rem;
      height: 2.8rem;
      position: absolute;
      top: 0.5rem;
      background-color: $color-white;
      transform: translateX(0) !important;
      opacity: 1;
      grid-row: 1 / 2;
      border-radius: 0.8rem;
    }
  }
  &__icon {
    z-index: 20;
    fill: $color-grey-dark-2;
    cursor: pointer;
  }
  @media (hover: hover) {
    &__icon--div--left:hover &__like {
      fill: $color-red;
    }
  }
  &__like {
    &--active {
      fill: $color-red;
    }
  }

  &__eye,
  &__like {
    width: 1.6rem;
    height: 1.6rem;
    transition: all 0.3s ease-out;

    @include respond(phone-3) {
      width: 1.3rem;
      height: 1.3rem;
    }
  }
  @media (hover: hover) {
    &__icon--div--right:hover &__eye {
      fill: $color-secondary;
    }
  }

  &__image--div {
    grid-row: 2/ 3;
    grid-column: 2 / 4;
    justify-self: center;
    width: 100%;
    height: 17rem;
    background-color: rgba($color-secondary, 0.05);
    margin-bottom: 0.5rem;
    border-radius: 2rem;
    overflow: hidden;

    &--main {
      @include respond(phone-3) {
        height: 30vh;
        grid-row: 1/ 2;
        grid-column: 1 / -1;
        margin: 0;
      }
    }
  }

  &__image {
    position: relative;
    z-index: 20;
    width: 100%;
    height: 17rem;
    object-fit: contain;
    background-color: rgba($color-secondary, 0.05);
    border-radius: 2rem;

    &--main {
      @include respond(phone-3) {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  h5 {
    grid-column: 2 / -1;
    grid-row: 3 / 4;
    align-self: center;
  }

  .h5--main {
    @include respond(phone-3) {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
      font-size: 1.4rem;
    }
  }

  &__rating {
    grid-row: 3 / 4;
    grid-column: 3 / 4;

    align-self: center;
    justify-self: end;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    color: $color-primary-dark;
    font-weight: 600;

    &.rating--main {
      @include respond(phone-3) {
        grid-row: 2 / 3;
      }
    }
  }

  &__star {
    width: 1.8rem;
    height: 1.8rem;
    fill: $color-yellow-light;
    margin-right: 0.4rem;
  }

  &__size--list {
    grid-column: 2 / -1;
    grid-row: 4 / 5;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
    color: $color-grey-dark-3;
    text-transform: uppercase;
    align-self: center;
    width: 100%;
    padding: 0.5rem 0;
    @include respond(phone-3) {
      grid-row: 4 / 5;
      grid-column: 1 / -1;
      color: $color-grey-dark-2;
    }
  }

  &__size--item {
    margin-right: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__property--list {
    grid-column: 2 / -1;
    grid-row: 5 / 6;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
  }

  &__property--list--row {
    @include respond(phone-3) {
      grid-row: 5 / 6;
      grid-column: 1 / -1;
    }
  }

  &__property--item {
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
    margin-right: 0.4rem;
    cursor: pointer;
    transition: all 0.2s ease-out;
    position: relative;
    border: 1px solid $color-grey-light-3;

    &:hover {
      transform: scale(1.2);
    }

    &.active:after {
      transform: scale(2);
      border: 1px solid $color-grey-light-3;
    }
  }

  &__price {
    align-self: center;
    grid-row: 6 / 7;
    grid-column: 2/3;
    font-size: 3rem;
    font-weight: 100;
    color: $color-primary-dark;
    display: flex;
    align-items: center;
    &--main {
      @include respond(phone-3) {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
        font-size: 1.4rem;
        font-weight: 600;
      }
    }

    &--discount {
      font-size: 1rem;
      background-color: rgba($color-rose, 0.1);
      color: $color-red;
      font-weight: 700;
      padding: 0.3rem 0.5rem;
      border-radius: 0.6rem;
      margin-left: 0.5rem;
      margin-bottom: auto;
    }
  }
  &__controller--div {
    justify-content: center;
    width: 6.3rem;
  }
  &__controller--div,
  &__cart--div {
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
    height: 6.6rem;
    color: $color-white;
    display: flex;
    align-items: center;
    &--main {
      @include respond(phone-3) {
        height: 5rem;
      }
    }
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 3.7rem 0 0 0;
      transition: all 0.2s ease-in-out;

      @include respond(phone-3) {
        border-radius: 3rem 0 2rem 0;
      }
    }
  }
  &__cart--div {
    width: 75%;
    z-index: 35;
    transition: transform 0.2s ease-in-out;

    transform: translateX(calc(100% - 6.3rem));
    &:after {
      background-color: $color-secondary;
    }
    &.active {
      transform: translateX(0);
    }

    &:hover {
      transform: translateX(0);
    }

    & > span {
      font-size: 1.3rem;
      font-weight: 600;
      z-index: 20;
      pointer-events: none;

      @include respond(phone-3) {
        display: none;
      }
    }
    &--main {
      @include respond(phone-3) {
        width: 5rem;
        position: relative;
        grid-row: 1 / 2;
        grid-column: 3 / 4;
        align-self: end;
        justify-self: end;
        border-radius: 3rem 0 2rem 0;
        transform: translate(0) !important;
        justify-content: center;
      }
    }
  }

  &__cart--icon {
    fill: $color-white;
    width: 1.7rem;
    height: 1.7rem;
    pointer-events: none;
    margin: 0 3rem 0 calc((6.3rem - 1.7rem) / 2);

    &--main {
      @include respond(phone-3) {
        margin: 0;
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  &__selection {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 73%;
    border-radius: 5rem 5rem 0 0;
    box-shadow: -1rem -2rem 3rem rgba($color-grey-dark-2, 0.15);
    background-color: $color-white;
    z-index: 30;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding: 2rem 1rem 7rem 2.2rem;
  }

  &__selector {
    padding: 2rem 0 0;
    &_title {
      margin-bottom: 1.5rem;
      font-size: 1.2rem;
      color: $color-grey-dark-3;

      &:after {
        background: rgba($color-red, 0.15);
      }
    }
  }

  &:hover {
    .product__icon--div {
      opacity: 1;
      transform: translateY(0);

      transition: all 0.2s ease-out;
    }
  }
}

.product__style--2 {
  grid-template-rows: 1.7rem repeat(4, min-content) 1.7rem;
  grid-template-columns: 1.7rem 16.4rem 1.7rem 1fr 1.7rem;
  width: 38rem;
  height: 17.4rem;
  margin-bottom: 2.5rem;
  border-radius: 3rem;
  align-content: center;

  &.no_sizes {
    grid-template-rows: 1.7rem min-content min-content 1fr min-content 1.7rem;
  }
  .product__image {
    grid-row: 2/ 6;
    grid-column: 2 / 3;
    height: 14rem;
  }

  h5 {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    max-width: 13rem;
  }

  .product__rating {
    grid-row: 2/ 3 !important;
    grid-column: 4 / 5 !important;
  }

  .product__size--list {
    grid-row: 3/ 4;
    grid-column: 4 / 6;
    overflow: hidden;
    padding-right: 1rem;
  }

  .product__property--list {
    grid-row: 4/ 5;
    grid-column: 4 / 5;
  }

  .product__price {
    grid-row: 5/6;
    grid-column: 4 / 5;
  }
  .product__controller--div {
    &:after {
      background-color: rgba($color-red, 0.1);
    }
    &:hover:after {
      transform: scale(2);
    }
  }

  .product__trash--icon {
    fill: $color-red;
    width: 1.7rem;
    height: 1.7rem;
    pointer-events: none;
  }
}
.product__style--3 {
  position: relative;
  width: 22rem;
  border-radius: 1.7rem;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-row-gap: 1rem;
  justify-items: space-between;
  align-items: center;
  padding: 2rem;
  overflow: hidden;
  background-color: $color-white;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  box-shadow: 0 0 1rem rgba($color-grey-light-4, 0.2);
  cursor: pointer;
  margin-right: 2rem;

  &:hover {
    box-shadow: 0 0 1rem rgba($color-grey-light-4, 0.4);
  }

  & > .product__image {
    grid-row: 1/ 2;
    grid-column: 1 / 3;
    height: 14rem;
    border-radius: 1.2rem;
  }

  & > h5 {
    font-size: 1.4rem;
  }

  & > .product__price {
    grid-row: 2/3;
    grid-column: 2 / 3;
    font-size: 1.8rem;
    font-weight: 300;
    justify-self: end;
  }

  & > .product__property--list {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    justify-self: center;
    & > .product__property--item {
      margin-right: 0.8rem;
    }
  }
  &__selected {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__selectedColor,
  &__selectedSize {
    color: $color-grey-dark-2;
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
  }

  &__selectedColor {
    span {
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      margin-left: 2rem;
    }
  }

  &__selectedSize {
    span {
      margin-left: 2rem;
      color: $color-primary-dark;
      font-weight: 300;
    }
  }
}

.product__style--4 {
  grid-template-columns: 1.5rem 8.6rem 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 1.9rem;
  padding: 1.2rem 1.5rem;
  width: 100%;
  height: 11rem;
  border-radius: 1.2rem;
  align-content: center;
  overflow: hidden;
  box-shadow: unset;
  margin: 0;
  background-color: $color-grey-light-1;

  &.no_sizes {
    grid-template-rows: 1fr min-content 1fr 1fr !important;
  }
  &:hover {
    box-shadow: unset;
  }
  .product__image {
    grid-row: 1/ -1;
    grid-column: 2 / 3;
    height: 8.6rem;
    border-radius: 0.9rem;
    background-color: $color-white;
  }

  h5 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    font-size: 1.35rem;
    font-weight: 700;
    width: max-content;
  }

  .product__rating {
    display: none;
  }

  .product__size--list {
    grid-row: 2/ 3;
    grid-column: 3 / 4;
    font-size: 1.2rem;
    text-transform: lowercase;
    color: $color-primary-dark;
    width: auto;
  }

  .product__property--list {
    grid-row: 3/ 4;
    grid-column: 3 / 4;
  }

  .product__property--item {
    width: max-content;
  }

  .product__price {
    grid-row: 4/5;
    grid-column: 3 / 4;
    font-size: 1.4rem;
    font-weight: 500;
  }
  .product__controller--div {
    width: 5.1rem;
    height: 4.6rem;
    &:after {
      border-radius: 2.7rem 0 0 0;
      background-color: $color-secondary;
    }
    &:hover:after {
      transform: scale(1.5);
    }
  }

  .product__trash--icon {
    fill: $color-white;
    width: 1.7rem;
    height: 1.7rem;
    pointer-events: none;
  }

  .product__num_of_orders {
    grid-row: 1/ -1;
    grid-column: 4/ 5;
    width: 2.5rem;
    background-color: $color-white;
    font-size: 1.4rem;
    font-weight: 200;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    color: $color-primary-dark;
    padding: 0;
    justify-self: end;
  }
}
