.review {
  background-color: $color-white;
  height: 26.5rem;
  width: 33rem;
  border-radius: 3.5rem;
  padding: 0 3.8rem 3.8rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 3.5rem;
  &__img {
    width: 5rem;
    height: 5rem;
    background-image: linear-gradient(
      to right bottom,
      $color-secondary-light,
      $color-secondary-dark 80%
    );
    object-fit: contain;
    border-radius: 50%;
    margin-top: -2.5rem;
  }

  h5 {
    margin: 1rem 0 0 0;
  }
  .rating {
    align-self: flex-start;
    margin: 0.1rem 0 2.5rem;
    & > svg {
      width: 1.9rem;
      height: 1.9rem;
    }
  }
  .text {
    line-height: 1.2;
    text-align: left;
    text-transform: lowercase;
    max-height: 16.5rem;
    overflow: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-track {
      background: $color-grey-light-1;
    }

    &::-webkit-scrollbar-thumb {
      background: $color-secondary;
      border-radius: 10px;
    }
  }
}
