.sizes_selectors {
  &__list {
    width: 30rem;
  }

  &__item {
    margin-bottom: 1rem;
  }

  &__label {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: $color-white;
    border: 2px solid $color-grey-light-2;
    overflow: hidden;
    cursor: pointer;
    span:first-child,
    span:nth-of-type(2) {
      font-weight: 300;
      color: $color-grey-light-4;
      position: absolute;
      left: 50%;
      transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    }

    span:first-child {
      top: 50%;
      font-size: 1.8rem;
      transform: translate(-50%, -50%);
    }

    span:nth-of-type(2) {
      top: 60%;
      transform: translate(-50%, 0);
      opacity: 1;
      font-size: 1.2rem;
    }
  }

  &__size {
    color: $color-grey-dark-1;
    border: 1px solid rgba($color-secondary, 0.9);
    border-radius: 0.1rem;
    border: 1px solid rgba($color-secondary, 0.9);
    border-radius: 0.1rem;
    font-size: 2.5rem;
    color: $color-grey-dark-1;
    font-family: inherit;
    font-weight: 100;
    outline: none;
  }

  &__quantity {
    margin-left: 10%;
    border: 1px solid rgba($color-secondary, 0.9);
    border-radius: 0.1rem;
    font-size: 2.5rem;
    color: $color-grey-dark-1;
    font-family: inherit;
    font-weight: 100;
    outline: none;

    &:invalid {
      border-bottom: 1px solid rgba($color-red, 0.3);
    }
  }

  &__checkbox {
    display: none;
  }

  &__checkbox:checked + &__label {
    border-color: rgba($color-secondary, 0.3);
  }

  &__checkbox:checked + &__label &__quantity {
    top: 50%;
  }
  &__checkbox:checked + &__label span:first-child {
    font-size: 1.5rem;
    top: 17%;
    color: $color-secondary;
  }

  &__checkbox:checked ~ &__label span:nth-of-type(2) {
    top: 20%;
    opacity: 0;
    height: 0 !important;
    width: 0 !important;
    overflow: hidden;
    transition: all 0s;
  }
}
