.add_location {
  &__content {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    padding: 0 3rem;
    position: relative;
    width: 100%;

    @include respond(phone-2) {
      padding: 0;
    }
    label {
      min-width: 12rem;
    }
  }

  &__map {
    height: 75vh;
    width: 100%;
    border-radius: 2rem;
    margin-bottom: 1rem;
    border: 4px solid $color-grey-light-3;

    @include respond(phone-2) {
      height: 60vh;
      border-radius: 0;
    }
  }
}
