.dashboard_home {
  &__content {
    display: grid;
    grid-template-columns: 1fr [sidebar-start] 36.7rem [sidebar-end];

    @include respond(tap-land-2) {
      grid-template-columns: 1fr [sidebar-start] 34rem [sidebar-end];
    }

    @include respond(tap-land-3) {
      grid-template-columns: [sidebar-start] 1fr [sidebar-end];
    }
  }

  &__carousel {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: min-content max-content;
    align-items: center;
    grid-row-gap: 1rem;
    margin-top: 7rem !important;

    @include respond(phone-1) {
      margin-right: 0 !important;
    }
    &__heading {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    .btn {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      justify-self: end;
      color: $color-white;
      margin: 0 !important;
    }

    .carousel__slide {
      padding-top: 2rem;
    }

    .carousel__next {
      margin-right: 0 !important;
    }
  }

  &__sidebar {
    grid-column: sidebar-start / sidebar-end;
    position: sticky;
    top: 2rem;
    height: min-content;
  }

  &__search {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    min-width: 28rem;
  }

  &__input {
    width: 100%;
    padding: 1.2rem 5rem 1.2rem 1.5rem;
    font-size: 1.5rem;
    color: $color-primary-light;
    border-radius: 20rem;
    border: none;
    outline: none;
    background-color: $color-blue-light;
    transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
      font-size: 1.1rem;
      text-transform: uppercase;
    }
  }

  &__label {
    transform: translateX(-100%);
    background-image: linear-gradient(
      to bottom right,
      $color-secondary,
      $color-blue-dark
    );
    height: 5rem;
    min-width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
  }

  &__search_icon {
    width: 1.85rem;
    height: 1.85rem;
    fill: $color-white;
  }
  &__img {
    grid-column: img-start / img-end;
    grid-row: 1 / 4;
    justify-self: end;
    align-self: end;

    @include respond(phone-1) {
      margin: auto;
      grid-row: 3 / 4;
    }
  }
  &__header {
    display: grid;
    grid-column-gap: 4.6rem;
    grid-template-columns: 1fr [img-start] max-content [img-end];
    grid-template-rows: repeat(3, min-content);
    grid-row-gap: 1.5rem;
    border-radius: 2.1rem;
    box-shadow: 0 0 1rem rgba($color-grey-light-4, 0.5);
    background-color: $color-white;
    justify-items: start;
    padding-left: 2rem;
    align-items: center;

    @include respond(phone-1) {
      grid-template-columns: [img-start] 1fr [img-end];
      grid-template-rows: repeat(4, min-content);
      justify-items: stretch;
      padding: 2rem;
      justify-content: center;
      grid-row-gap: 2rem;
      margin-right: 0 !important;
    }

    h1 {
      grid-column: 1 / 2;
      font-size: 2.2rem;
      font-weight: 800;
      color: $color-primary-light;
      grid-row: 2 /3;

      @include respond(phone-1) {
        text-align: center;
      }
    }

    img {
      margin-top: auto;
      height: 22rem;
      object-fit: contain;
      @include respond(phone-1) {
        margin: auto;
      }
    }

    .btn {
      grid-column: 1 / 2;
      grid-row: 3 /4;
      margin-bottom: 1.5rem;

      @include respond(phone-1) {
        grid-row: 4 / 5;
        margin-bottom: 0;
      }
    }

    .dashboard_home__search {
      grid-column: 1 / 2;
      grid-row: 1 /2;
      margin-top: 1.5rem;
      @include respond(phone-1) {
        width: 100% !important;
        margin-top: 0;
        margin-left: 2rem;
      }
    }
  }
}
