$color-primary-dark: #303841;
$color-primary-light: #3a4750;

$color-secondary: #00c65d;
$color-secondary-dark: #00c65d;
$color-secondary-light: #88dba5;
$color-secondary-dark-1: #34ab4b;
$color-tertiary: #495464;

$color-blue-light: #f6f9fc;
$color-blue-dark: #2f9e31;

$color-white: #fff;

$color-yellow-light: #fcec5a;
$color-red: #f66969;
$color-red-dark: #eb2727;
$color-black: #000;

$color-orange: #f6621b;
$color-rose: #ff9292;
$color-yellow: #ded959;
$color-indigo: #b3eec2;
$color-violet: #d39fdb;
$color-green: #84e571;
$color-green-dark: #31a909;

$color-grey-light-1: #f9f9f9;
$color-grey-light-2: #f3f3f3;
$color-grey-light-3: #e6e6e6;
$color-grey-light-4: #c1c1c1;

$color-grey-dark-1: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #666;
$color-grey-dark-4: #333;
$color-grey-dark-5: #222;
$color-grey-dark-6: #111;
